---
import { Image } from "astro:assets";
import profilePicture from "../assets/profile.jpeg";
import background from "../assets/colours.jpg";
---

<div class="hero">
	<div class="stacked-images">
		<Image
		src={profilePicture}
		class="profile"
		alt="Profile Picture"
		width="300"
		height="300"
	/>
	<Image
		src={background}
		class="overlay-image"
		alt="decorative background image"
		width="300"
		height="300"
	/>
	</div>
	
	<section>
		<span class="poetry">Hello World</span>
		<p>
			My name is Amy Morrison. I'm a software engineer who resigned after experiencing a mental health breakdown. This is somewhere for me to
			document my recovery. I want to learn how to speak my native tongue: English.
		</p>
		<span class="poetry small">Updates will be sporadic :)</span>
	</section>
</div>
